<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cclookme.info.core.curriculavariable.mapper.CurriculaVariableMapper" >
  <resultMap id="BaseResultMap" type="cn.cclookme.info.model.curriculavariable.CurriculaVariable" >
    <result column="course_code" property="courseCode" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="time_for_class" property="timeForClass" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="maxnum" property="maxnum" jdbcType="INTEGER" />
    <result column="minnum" property="minnum" jdbcType="INTEGER" />
    <result column="current_num" property="currentNum" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="cn.cclookme.info.model.curriculavariable.CurriculaVariable" >
    insert into curricula_variable (course_code, teacher, time_for_class, 
      start_time, end_time, maxnum, 
      minnum, current_num)
    values (#{courseCode,jdbcType=VARCHAR}, #{teacher,jdbcType=VARCHAR}, #{timeForClass,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{maxnum,jdbcType=INTEGER}, 
      #{minnum,jdbcType=INTEGER}, #{currentNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.cclookme.info.model.curriculavariable.CurriculaVariable" >
    insert into curricula_variable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseCode != null" >
        course_code,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="timeForClass != null" >
        time_for_class,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="maxnum != null" >
        maxnum,
      </if>
      <if test="minnum != null" >
        minnum,
      </if>
      <if test="currentNum != null" >
        current_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseCode != null" >
        #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="timeForClass != null" >
        #{timeForClass,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="maxnum != null" >
        #{maxnum,jdbcType=INTEGER},
      </if>
      <if test="minnum != null" >
        #{minnum,jdbcType=INTEGER},
      </if>
      <if test="currentNum != null" >
        #{currentNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>